<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangsj.dao.ChartDataDao">
    <select id="getChartData" resultType="com.yangsj.entity.ChartData">
        select * from bigscreen.chart_data;
    </select>
    <select id="getOneData" resultType="string">
        select data from bigscreen.chart_data where chart_name=#{chartName} and series_name=#{seriesName};
    </select>
</mapper>
